<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/admin/products/newProduct}" th:object="${product}" method="post" enctype="multipart/form-data" >
        <div class="row">
            <div class="row">
                <div class="col-9 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Product Title</h5>
                            <input type="text" class="form-control" placeholder="Enter product title" th:field="*{name}">
                            <h5 class="card-title">Product Description</h5>
                            <textarea class="form-control" rows="5" placeholder="Enter product description" th:field="*{description}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Product Brand & Category</h5>
                            <div class="mb-3">
                                <label class="form-label">Select product brand</label>
                                <select class="form-select" id="brandSelect">
                                    <option value="">-- Chọn hãng máy --</option>
                                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Select product category</label>
                                <select class="form-select" th:field="*{category.id}" id="categorySelect">
                                    <option value="">-- Chọn loại máy --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Product Images</h5>
                            <div class="col-6 mb-3">
                                <label for="image" class="form-label">Hình ảnh sản phẩm:</label>
                                <input type="file" id="image" name="image" class="form-control" required="false"/>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="anotherImage">Hình ảnh khác:</label>
                                <input class="form-control" type="file" name="anotherImage" accept="image/*" id="anotherImage" multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="general-info-tab" data-bs-toggle="tab" data-bs-target="#general-info" type="button" role="tab" aria-controls="general-info" aria-selected="true">General Info</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="configuration-tab" data-bs-toggle="tab" data-bs-target="#configuration" type="button" role="tab" aria-controls="configuration" aria-selected="false">Configuration</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="general-info" role="tabpanel" aria-labelledby="general-info-tab">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Stocks</label>
                                    <input type="number" class="form-control" placeholder="Enter stock" th:field="*{quantityStock}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control" placeholder="Enter price" th:field="*{originalPrice}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Discount Price</label>
                                    <input type="number" class="form-control" placeholder="Enter discount price" th:field="*{discountedPrice}">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show p-3" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">CPU</label>
                                    <input type="text" class="form-control" th:field="*{configuration.cpu}">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">RAM</label>
                                    <input type="text" class="form-control" th:field="*{configuration.ram}" >
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Storage</label>
                                    <input type="text" class="form-control" th:field="*{configuration.storage}">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">OS</label>
                                    <input type="text" class="form-control" th:field="*{configuration.os}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Graphics</label>
                                    <input type="text" class="form-control" th:field="*{configuration.graphics}">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Display</label>
                                    <input type="text" class="form-control" th:field="*{configuration.display}" >
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Battery</label>
                                    <input type="text" class="form-control" th:field="*{configuration.battery}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 text-end">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </div>
    </form>

</div>
<th:block th:replace="layout::footer"></th:block>
<script th:inline="javascript">
    var categories = /*[[${categories}]]*/ /*<![CDATA[${#lists.toJson(categories)}]]*/;

    $(document).ready(function() {

        $('#brandSelect').change(function() {
            var brandId = $(this).val();
            var categorySelect = $('#categorySelect');
            categorySelect.empty();
            categorySelect.append('<option value="">-- Chọn loại máy --</option>');

            if (brandId) {
                // Lọc categories dựa trên brandId
                var filteredCategories = categories.filter(function(category) {
                    return category.brand.id == brandId;
                });

                $.each(filteredCategories, function(index, category) {
                    categorySelect.append('<option value="' + category.id + '">' + category.name + '</option>');
                });
            }
        });
    });
</script>
</body>
</html>