<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:fragment="link-fontawesome" src="https://kit.fontawesome.com/7994a6a9a6.js" crossorigin="anonymous"></script>
    <style>
        .dropdown {
            position: relative;
            margin-left: 1rem;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            top: 100%;
            left: 0;
            padding: 0.5rem 0;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#">Shop</a>
                            <div class="dropdown-content">
                                <a href="#">All Products</a>
                                <a href="#">Electronics</a>
                                <a href="#">Clothing</a>
                                <a href="#">Accessories</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <form class="search-bar" action="/search" method="get" style="display: flex; align-items: center;">
                    <input type="text" name="query" placeholder="Search..." size="80" style="height: 40px; padding: 10px; border-radius: 15px; border: 1px solid #007bff; margin-right: 10px;">
                    <button class="btn btn-success" style="width :150px; height: 40px; border-radius: 15px;margin-right: 500px">Search</button>
                </form>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                    <li>
                        <a class="nav-link active" href="/cart">
                            <i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-primary" type="submit">Đăng xuất</button>
                        </form>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login" class="btn btn-outline-primary">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div th:insert="~{::${content}}">
    <!-- NỘI DUNG TRANG CON--->
</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</footer>
</body>
</html>